//- the original size of inages
- var widthSM = '480';
- var widthMD = '768';
- var widthLG = '992'; 
- var widthXL = '1200';
- var widthXXL = '1800';
- var widthXXXL = '2000';

- var urlLandscapeSM = "/../img/animals_landscape_sm.jpg";
- var urlLandscapeMD = "/../img/animals_landscape_md.jpg";
- var urlLandscapeLG = "/../img/animals_landscape_lg.jpg";
- var urlLandscapeXL = "/../img/animals_landscape_xl.jpg";
- var urlLandscapeXXL = "/../img/animals_landscape_xxl.jpg";
- var urlLandscapeXXXL = "/../img/animals_landscape_xxxl.jpg";

figure(class='image-raster image-raster_theme_black')
  
  picture(class='image-raster__wrapper')   
    //- 
      'srcset' and 'sizes' in <img> element traditionally solve resolution switching problem
    //-
      'src' is a fallback value for browsers which doesn't support 'sizes' and 'srcset' attributes
    //-
      'sizes' attribute lists the widths of the image that would best fit the layout under different media conditions: the very last value (100vw) is default width, it applies when none of the media conditions match. In a nutshell, sizes = [media querie] [display the image chosen from 'srcset' at this size]
    
      The order of sizes in media queries (in 'sizes attribute') does matter!
      If your media queries use only 'min-width', then start from the largest media query and move down to the smallest. Otherwise, the first-mentioned media query (media-width: 0) will be applied in ANY situation, making any following media queries senseless
    //-
      All '100vw' values mentioned below in 'sizes' attribute can be safely removed and it won't affect anything, cause if the value is omitted, it implicitly defaults to the same '100vw'. I defined '100vw' explicitly just for the sake of showing the possibility to change this value. But again: do this only if you REALLY NEED it. Otherwise, for changing image width, edit 'max-width' property of '.image' class in SCSS file, it will change not only the width of the image but the width of the whole container (with 'figcaption' block)
    //- 
      Note: although we set every media quiery in 'sizes' to '100vw', the image width is not actually 100% of viewport width cause it's constrained by CSS property max-width: 100%, set on 'image__img' element. Also the width can be constrained even further by the parent block's ('.image') width 

    img(
      class='image-raster__img'

      src=`${urlLandscapeLG}`

      sizes=`(min-width: ${widthXXL}px) 100vw, 
             (min-width: ${widthXL}px) 100vw,
             (min-width: ${widthLG}px) 100vw,
             (min-width: ${widthMD}px) 100vw,
             (min-width: ${widthSM}px) 100vw,
             (min-width: 0) 100vw,
             100vw`

      srcset=`${urlLandscapeSM} ${widthSM}w, 
              ${urlLandscapeMD} ${widthMD}w, 
              ${urlLandscapeLG} ${widthLG}w, 
              ${urlLandscapeXL} ${widthXL}w, 
              ${urlLandscapeXXL} ${widthXXL}w, 
              ${urlLandscapeXXXL} ${widthXXXL}w`
      
      alt='Ships in the Field' 
      
      title='The world is a beautiful place!'
    )

  figcaption(class='text image-raster__caption').
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.