mixin blockquote(quote, classList)

  blockquote(class=`${classList}`) 
    p(class='blockquote__body') #{quote.text}
    footer(class='blockquote__footer') #{quote.author} —
      - if (quote.sourceURL === undefined)
        | &nbsp;#{quote.source}
      - else
        cite(class='blockquote__source') 
            a(class='blockquote__link' href=`${quote.sourceURL}`) #{quote.source}