mixin icon (name, href)
  - if (name === 'github')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Github'
    )
      span(class='icons__access-label') Github
      svg(class='icons__img icons__img_name_github')
        use(xlink:href='./img/sprite.svg#github')


//- 
  the path inside <use> element should be relative to webpack 'build' folder, not to 'icons' component folder



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') Facebook
  svg(class='icons__img icons__img_name_fb')
    use(xlink:href='./img/sprite.svg#fb')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') Instagram
  svg(class='icons__img icons__img_name_instagram')
    use(xlink:href='./img/sprite.svg#instagram')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') Odnoklassniki
  svg(class='icons__img icons__img_name_ok')
    use(xlink:href='./img/sprite.svg#ok')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') Telegram
  svg(class='icons__img icons__img_name_telegram')
    use(xlink:href='./img/sprite.svg#telegram')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') Twitter
  svg(class='icons__img icons__img_name_twitter')
    use(xlink:href='./img/sprite.svg#twitter')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') YouTube
  svg(class='icons__img icons__img_name_youtube')
    use(xlink:href='./img/sprite.svg#youtube')



a(
  href='###' 
  class='icons' 
  aria-hidden='true'
  focusable='false' 
  title='Github'
)
  span(class='icons__access-label') VKontakte
  svg(class='icons__img icons__img_name_vk')
    use(xlink:href='./img/sprite.svg#vk')