//- 
  if you omit 'color' value when calling mixin, 'color' will default to 'name' argument
mixin icons (name, href, size, color=`${name}`)
  //- 
    the path inside <use> element should be relative to webpack 'build' folder, not to 'icons' component folder

  - if (name === 'github')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Github'
    )
      span(class='icons__access-label') Github
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#github')



  - if (name === 'facebook')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Facebook'
    )
      span(class='icons__access-label') Facebook
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#fb')



  - if (name === 'instagram')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Instagram'
    )
      span(class='icons__access-label') Instagram
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#instagram')



  - if (name === 'odnoklassniki')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Odnoklassniki'
    )
      span(class='icons__access-label') Odnoklassniki
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#ok')



  - if (name === 'telegram')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Telegram'
    )
      span(class='icons__access-label') Telegram
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#telegram')



  - if (name === 'twitter')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='Twitter'
    )
      span(class='icons__access-label') Twitter
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#twitter')



  - if (name === 'youtube')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='YouTube'
    )
      span(class='icons__access-label') YouTube
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#youtube')



  - if (name === 'vkontakte')
    a(
      href=`${href}` 
      class='icons' 
      aria-hidden='true'
      focusable='false' 
      title='VKontakte'
    )
      span(class='icons__access-label') VKontakte
      svg(class=`icons__img icons__img_size_${size} icons__img_color_${color}`)
        use(xlink:href='./img/sprite.svg#vk')