mixin img-raster(img)

  - var classList;
  
  - if (img.theme === undefined)
    - classList = 'img-raster';
  - else
  - classList = `img-raster img-raster_theme_${img.theme}`

  - if (img.alignSelf !== undefined)
  - classList = classList + ` ${img.alignSelf}`;

  figure(class=`${classList}`)
    picture(class='img-raster__wrapper')   
      img(
        class='img-raster__img' 
        
        src=`${img.src}` 
        
        sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
        
        srcset=`${img.srcset['480']} 480w, ${img.srcset['768']} 768w, ${img.srcset['992']} 992w, ${img.srcset['1200']} 1200w, ${img.srcset['1800']} 1800w, ${img.srcset['2000']} 2000w`
        
        alt=`${img.alt}`)
        
    - if (img.captionText) 
      figcaption(class='img-raster__caption') #{img.captionText}


//-
  Original PUG code before converting it to mixin:

  figure(class='img-raster')
    picture(class='img-raster__wrapper')   
      img(
        class='img-raster__img' 
        
        src="./../img/animals_landscape_xxxl.jpg" 
        
        sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
        
        srcset="./../img/animals_landscape_sm.jpg 480w, ./../img/animals_landscape_md.jpg 768w, ./../img/animals_landscape_lg.jpg 992w, ./../img/animals_landscape_xl.jpg 1200w, ./../img/animals_landscape_xxl.jpg 1800w, ./../img/animals_landscape_xxxl.jpg 2000w" 
        
        alt='Ships in the Field')
    figcaption(class='img-raster__caption').
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.