extends template-demo.pug



block meta
  meta(name='description' content='Description of the page less than 150 characters')
  //- Displayed in Google search results:
  meta(name='keywords' content='web development, web applications, frontend')
  meta(name='author' content='Andrey Ponomarev')
  title Biscuit Demo



block head
  style. 
    .block {
      display: flex;
      max-width: 1200px;
      margin: auto;
    }


block header

  //- nav-fixed

    div(class='nav-fixed')
      div(class='nav-fixed__logo')
        img(
          src='./../img/biscuit-logo-white.svg' 
          alt='Logoipsum logo'
          title='Logoipsum'
          class='img-svg'
        )
      div(class='nav-fixed__items')
        a(href='#main' class='nav-fixed__item') Main
        a(href='#portfolio' class='nav-fixed__item') Portfolio
        a(href='#blog' class='nav-fixed__item') Blog
        a(href='#about' class='nav-fixed__item nav-fixed__item_active') About
        a(href='#contacts' class='nav-fixed__item') Contacts
      

      
block main

  main(class='demo')
    section(class='block')
      +heading('h1', 'Heading One', 'heading heading_size_h1')
      +heading('h2', 'Heading Two', 'heading heading_size_h2')
      +heading('h3', 'Heading Three', 'heading heading_size_h3')
      +heading('h4', 'Heading Four', 'heading heading_size_h4')
      +heading('h5', 'Heading Five', 'heading heading_size_h5')
      +heading('h6', 'Heading Six', 'heading heading_size_h6')













    //- img-raster
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        figure(class='img-raster')
          picture(class='img-raster__wrapper')   
            img(
              class='img-raster__img' 
              
              src="./../img/animals_landscape_xxxl.jpg" 
              
              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw" 
              
              srcset="./../img/animals_landscape_sm.jpg 480w, ./../img/animals_landscape_md.jpg 768w, ./../img/animals_landscape_lg.jpg 992w, ./../img/animals_landscape_xl.jpg 1200w, ./../img/animals_landscape_xxl.jpg 1800w, ./../img/animals_landscape_xxxl.jpg 2000w" 
              
              alt='Ships in the Field')
          figcaption(class='img-raster__caption').
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.



    //- hr
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        hr(class='hr')



    //- list
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        ul(class='list list_style_unordered')
          li(class='list__item') Fruit
            ul(class='list list_style_unordered')
              li(class='list__item') Bananas
              li(class='list__item') Apples
                ul(class='list list_style_ordered')
                  li(class='list__item') Green
                  li(class='list__item') Red
              li(class='list__item') Pears
          li(class='list__item') Vegetables
          li(class='list__item') Meat


    //- text
    //- inline text
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        p(class='text text_display_inline') Lorem Ipsum
        p(class='text text_display_inline') Lorem Ipsum

    //- block text
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        p(class='text text_display_block text_size_root').
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        p(class='text text_display_block text_size_root').
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.



    //- link
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        a(href='##' class='link') link



    //- code
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        //- inline code
        p(class='text text_display_block text_size_root text_color_black'). 
          It has survived not only five centuries, but also the leap into electronic typesetting, #[a(href='#image' class='link link_anchor') remaining] essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, #[code(class='code code_display_inline text text_size_sm code_theme_gray') console.log( a );] and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        //- code block
        pre(class='code code_display_block text text_size_sm code_theme_gray')
          code.
            window.addEventListener( 'load', => {
              console.log('Ready');
            })



    //- btn
    section(class='block')
      article(class='block__about') Some text
      div(class='block__demo')
        a(class='btn btn_theme_black btn_size_md' href='###') a href Button 
        button(type='button' class='btn btn_theme_black btn_size_md') button Button
        button(type='button' class='btn btn_theme_black btn_size_md btn_disabled' disabled) button Button
        input(type='button' value='input Button' class='btn btn_theme_black btn_size_md btn_disabled' disabled) 



  //- responsive columns grid
  div(class='grid-auto-col')
    div(class='grid-auto-col__item') One
    div(class='grid-auto-col__item') Two
    div(class='grid-auto-col__item') Three
    div(class='grid-auto-col__item') Four 
    div(class='grid-auto-col__item') Five
    div(class='grid-auto-col__item') Six
    div(class='grid-auto-col__item') Seven
    div(class='grid-auto-col__item') Eight
    div(class='grid-auto-col__item') Nine



  //- grid-items-list 
  ul(class='grid-3-col')

    li(class='grid-3-col__item')
      //- img-raster block
      figure(class='img-raster')
        picture(class='img-raster__wrapper')   
          img(
            class='img-raster__img'
            src="./../img/animals_landscape_xxxl.jpg"

            sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

            srcset="./../img/animals_landscape_sm.jpg 480w, ./../img/animals_landscape_md.jpg 768w, ./../img/animals_landscape_lg.jpg 992w, ./../img/animals_landscape_xl.jpg 1200w, ./../img/animals_landscape_xxl.jpg 1800w, ./../img/animals_landscape_xxxl.jpg 2000w"
            
            alt='Ships in the Field' 
          )
      h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
      p(class='text text_display_block') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
      a(class='btn' href="###") Visit Website

    li(class='grid-3-col__item')
      //- img-raster block
      figure(class='img-raster')
        picture(class='img-raster__wrapper')   
          img(
            class='img-raster__img'
            src="./../img/animals_landscape_xxxl.jpg"

            sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

            srcset="./../img/animals_landscape_sm.jpg 480w, ./../img/animals_landscape_md.jpg 768w, ./../img/animals_landscape_lg.jpg 992w, ./../img/animals_landscape_xl.jpg 1200w, ./../img/animals_landscape_xxl.jpg 1800w, ./../img/animals_landscape_xxxl.jpg 2000w"
            
            alt='Ships in the Field' 
          )
      h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
      p(class='text text_display_block') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
      a(class='btn' href="###") Visit Website

    li(class='grid-3-col__item')
      //- img-raster block
      figure(class='img-raster')
        picture(class='img-raster__wrapper')   
          img(
            class='img-raster__img'
            src="./../img/animals_landscape_xxxl.jpg"

            sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

            srcset="./../img/animals_landscape_sm.jpg 480w, ./../img/animals_landscape_md.jpg 768w, ./../img/animals_landscape_lg.jpg 992w, ./../img/animals_landscape_xl.jpg 1200w, ./../img/animals_landscape_xxl.jpg 1800w, ./../img/animals_landscape_xxxl.jpg 2000w"
            
            alt='Ships in the Field' 
          )
      h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
      p(class='text text_display_block') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
      a(class='btn' href="###") Visit Website



  //- grid-page-layout1 
  section(class='grid-page-layout1')
    div(class='grid-page-layout1__header') Header
    div(class='grid-page-layout1__news1') News. Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
    div(class='grid-page-layout1__news2')
      div hkjh
      div(class='grid-page-layout1__article') Article. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      div(class='grid-page-layout1__info') Info
    div(class='grid-page-layout1__ads-l') Space L
    div(class='grid-page-layout1__ads-r') Space R  
    div(class='grid-page-layout1__footer') Footer



  //- grid-gallery
    ul(class='grid-gallery')
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22942_hires.jpg" alt="Juno's Latest Flyby of Jupiter Captures Two Massive Storms")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23021_hires.jpg" alt="A first look at dunes")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23002_hires.jpg" alt="K2-138 6 Planets Artwork (Artist's Illustration)")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA21212_hires.jpg" alt="Small Prominences")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22983_hires.jpg" alt="Ezinu Crater")

    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22990_hires.jpg" alt="Polar Ice")

    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22963_hires.jpg" alt="Jupiter")

    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22918_hires.jpg" alt="Star Gaia 17pbi Seen by Spitzer")

    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22900_hires.jpg" alt="Another Cloudy Day")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22941_hires.jpg" alt="South Equatorial Belt Brown Barge Close-up")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22936_hires.jpg" alt="Earth-based Observation of Jupiter")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22937_hires.jpg" alt="Jupiter's South Tropical Disturbance")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22933_hires.jpg" alt="Jupiter's Southern Circumpolar Cyclones")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22906_hires.jpg" alt=" Juno Flyby Movie ")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22895_hires.jpg" alt="Swiss Cheese on a Red Planet")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA21211_hires.jpg" alt="Solar Active Region's Cameo Appearance")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22914_hires.jpg" alt="Bow Shock Around Young Star")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22695_hires.jpg" alt="Jupiter's North Equatorial Belt")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22770_hires.jpg" alt="Titan Mosaic: The Surface Under the Haze")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18144_hires.jpg" alt="Reappearing Coronal Hole")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22820_hires.jpg" alt="NASA's ASTER Captures Lava Flow, Ash from Guatemala Volcano")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22869_hires.jpg" alt="Active Dunes in Wirtz Crater")
    li
      figure
        img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22569_hires.jpg" alt="Supernova Remnant G54")



  //- grid-page-layout2
  section(class='grid-page-layout2')
    div(class='grid-page-layout2__one')
      One One One One One One One One One One One One One One One
    div(class='grid-page-layout2__two') Two 
    div(class='grid-page-layout2__three') Three 
    div(class='grid-page-layout2__four') Four 
    div(class='grid-page-layout2__five') Five Five Five Five Five



  //- img-svg
  //- as <img>
  img(
    src='./../../img/logo.svg' 
    alt='Logoipsum logo'
    title='Logoipsum'
    class='img-svg'
  )

  //- as CSS background-image
  div(class='img-svg img-svg_bg')

  //- and if you need interactivity, use SVG with the help of <object> tag
  object(
    type="image/svg+xml" 
    data="./../../img/logo.svg"
    class='img-svg'
  ) Your browser does not support SVG


  //- header
  header(class='header header_view_fullscreen-image header_align-content_center')
    h1(class='heading heading_size_h1 heading_color_white') Biscuit Demo Page


  //- blockquote
  p(class='text text_display_block').
    It has survived not only five centuries,
  blockquote(class='blockquote text text_size_xl blockquote_theme_gray')
    p(class='blockquote__main').
      Big type, even huge type, can be beautiful and useful. But poise is usually far more important than size – and poise consists primarily of emptiness. Typographically, poise is made of white&space.
    footer(class='blockquote__footer text text_color_gray').
      Robert Bringhurst, #[cite(title='Source Title') The Elements of Typographic Style]



  //- back-to-top-btn
  button(
    class='btn btn_type_back-to-top'
    title='Go to top'
  ) Top



  //- badge
  a(href='###' class='badge badge_theme_white text text_size_sm text_line-height_lg') Closure
  a(href='###' class='badge badge_theme_white text text_size_sm text_line-height_lg') Hoisting
  a(href='###' class='badge badge_theme_white text text_size_sm text_line-height_lg') Call Stack
  a(href='###' class='badge badge_theme_white text text_size_sm text_line-height_lg') Prototypes



  //- pagination
  div(class='pagination')
    a(href='#wq##' class='pagination__item') &laquo;
    a(href='##fd#' class='pagination__item') 1
    a(href='##s#' class='pagination__item pagination__item_active') 2
    a(href='###' class='pagination__item') 3
    a(href='#da##' class='pagination__item') 4
    a(href='#fd##' class='pagination__item') &raquo;



  //- breadcrumbs
  ul(class='breadcrumb')
    li(class='breadcrumb__item')
      a(href='###' class='link') Home
    li(class='breadcrumb__item')
      a(href='#s##' class='link') Equipment
    li(class='breadcrumb__item')
      a(href='###f' class='link') Cooking Equipment
    li(class='breadcrumb__item breadcrumb__item_active').
      Cooking Performance Group S60-G24-N Natural Gas 6 Burner 60" Range with 24" Griddle and 2 Standard Ovens - 280,000 BTU



  //- icons
  div
    include ../blocks.basic/icons/icons.pug 



  //- tooltip
  div
    p(class='text text_display_inline') ... some text, 
      span(class='tooltip') hoverthepointer
        span(class='tooltip__content') Your text

    br

    span(class='tooltip' style='display: inline-block; width: 50px; height: 50px; background-color: black; border-radius: 10000px;')
      span(class='tooltip__content') Your text



  //- embed (videos, ...)
  div(class="embed") 
    iframe(
      src='https://www.youtube.com/embed/oRkNaF0QvnI' 
      frameborder='0' 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    )




  //- table
  div(class='table')
    table(class='table__container')
      caption(class='table__caption') Table 1.1 Playlist
      thead
        tr(class='table__row text text_color_white')
          th(class='table__cell table__cell_type_header') Date
          th(class='table__cell table__cell_type_header') Artist
          th(class='table__cell table__cell_type_header') Title
          th(class='table__cell table__cell_type_header') Album
          th(class='table__cell table__cell_type_header') Label
          th(class='table__cell table__cell_type_header') Genres
          th(class='table__cell table__cell_type_header') Duration
      tbody
        tr(class='table__row')
          td(class='table__cell table__cell_type_main') 1971
          td(class='table__cell table__cell_type_main') Gil Scott-Heron
          td(class='table__cell table__cell_type_main') Save The Children
          td(class='table__cell table__cell_type_main') Pieces Of A Man
          td(class='table__cell table__cell_type_main') Flying Dutchman
          td(class='table__cell table__cell_type_main') Soul, Funk, Jazz
          td(class='table__cell table__cell_type_main') 4:55
        tr(class='table__row')
          td(class='table__cell table__cell_type_main') 1975
          td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
          td(class='table__cell table__cell_type_main') Sweet Thing
          td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
          td(class='table__cell table__cell_type_main') ABC Records
          td(class='table__cell table__cell_type_main') Soul, Funk, Disco
          td(class='table__cell table__cell_type_main') 3:18
        tr(class='table__row')
          td(class='table__cell table__cell_type_main') 1994
          td(class='table__cell table__cell_type_main') Adam F ‎
          td(class='table__cell table__cell_type_main') Sea Of Destiny
          td(class='table__cell table__cell_type_main') Stronger Than Ever
          td(class='table__cell table__cell_type_main') Lucky Spin Recordings
          td(class='table__cell table__cell_type_main') Jungle, Drum'n'Bass
          td(class='table__cell table__cell_type_main') 6:47
        tr(class='table__row')
          td(class='table__cell table__cell_type_main') 2000
          td(class='table__cell table__cell_type_main') Soulsearcher ‎
          td(class='table__cell table__cell_type_main') Can't Get Enough (Vocal Club Mix)
          td(class='table__cell table__cell_type_main') Various ‎- Disco Kandi
          td(class='table__cell table__cell_type_main') Hed Kandi 
          td(class='table__cell table__cell_type_main') Garage House, Disco
          td(class='table__cell table__cell_type_main') 7:19



  //- loader
    div(class='loader')


  //- comment section
  div
    div(class='comment')
      div(class='comment__avatar') 
        <svg xmlns="http://www.w3.org/2000/svg" width='100%' height='100%' viewBox="0 0 258.75 258.75">
          <circle cx="129.375" cy="60" r="60"/>
          <path d="M129.375 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z"/>
        </svg>
      div(class='comment__text') 
        div(class='comment__header')
          span(class='comment__name') Mike Wolfson
          span(class='comment__time') august 19, 2019 17:48
        p(class='comment__main').
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        div(class='comment__button')
          a(href='###' class='link') Reply


    div(class='comment')
      div(class='comment__avatar') 
        <svg xmlns="http://www.w3.org/2000/svg" width='100%' height='100%' viewBox="0 0 258.75 258.75">
          <circle cx="129.375" cy="60" r="60"/>
          <path d="M129.375 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z"/>
        </svg>
      div(class='comment__text') 
        div(class='comment__header')
          span(class='comment__name') Mike Wolfson
          span(class='comment__time') august 19, 2019 17:48
        p(class='comment__main').
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        div(class='comment__button')
          a(href='###' class='link') Reply




  br
  //- checkbox
  //- default:
  div(class='control') 
    input(
      class='control__system-control' 
      type='checkbox' 
      id='lastname1')
    label(
      class='control__label control__label_checkbox' 
      for='lastname1') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text

  //- _validation modifier:
  div(class='control') 
    input(
      class='control__system-control control__system-control_validation' 
      type='checkbox' 
      id='lastname2')
    label(
      class='control__label control__label_checkbox' 
      for='lastname2') Milk
    div(class='control__tip text text_line-height_lg text_color_danger text_size_sm') Teip text Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?

  //- _disabled modifier:
  div(class='control') 
    input(
      class='control__system-control control__system-control_disabled' 
      type='checkbox' 
      id='lastname3' disabled)
    label(
      class='control__label control__label_checkbox' 
      for='lastname3') Milk
    div(class='control__tip text text_line-height_lg text_color_disabled text_size_sm') Teip text Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?




  br
  //- radio
  //- default checked:
  div(class='control') 
    input(
      class='control__system-control'
      id='radio1' 
      type='radio'  
      name='radio' 
      value='' 
      checked='checked')
    label(
      class='control__label control__label_radio' 
      for='radio1') Milk
    div(class='control__tip  text text_line-height_lg text_color_gray-light text_size_sm') Text text text

  //- validation modifier
  div(class='control') 
    input(
      class='control__system-control control__system-control_validation' 
      type='radio' 
      id='radio2' 
      name='radio')
    label(
      class='control__label control__label_radio' 
      for='radio2') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  //- disabled modifier
  div(class='control') 
    input(
      class='control__system-control control__system-control_disabled'
      id='radio3'  
      type='radio' 
      name='radio'
      disabled)
    label(
      class='control__label control__label_radio' 
      for='radio3') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text





  //- switch
  div(class='control control_switch')
    input(
      class='control__system-control' 
      id='switch1'
      type='checkbox'
      name='switch')
    label(
      class='control__label control__label_switch' 
      for='switch1') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

  //- switch validation modifier
  div(class='control control_switch')
    input(
      class='control__system-control control__system-control_validation' 
      id='switch2'
      type='checkbox'
      name='switch')
    label(
      class='control__label control__label_switch' 
      for='switch2') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

  //- switch validation modifier
  div(class='control control_switch')
    input(
      class='control__system-control control__system-control_disabled' 
      id='switch3'
      type='checkbox'
      name='switch'
      disabled)
    label(
      class='control__label control__label_switch' 
      for='switch3') Milk
    div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book






  //- form + form-grid
  div
    //- example 1:
    form(class='form-grid' action='' method='')

      div(class='form-group')
        label(
          class='form-group__label' 
          for='name') A long sentence you're forced to read to understand what this stupid form wants from you
        div(class='form-group__container')
          input(
            class='form-group__input' 
            type='text' 
            id='name' 
            name='name' 
            placeholder='Your name')
          div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle
      
      div(class='form-group form-group_row')
          label(
            class='form-group__label' 
            for='name') Phone/Mobile
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      div(class='form-group')
          label(
            class='form-group__label' 
            for='name') A long 
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      div(class='form-group form-group')
          label(
            class='form-group__label' 
            for='name') First name
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      div(class='form-group form-group_row')
          label(
            class='form-group__label' 
            for='name') First name
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      div(class='form-group form-group_row')
          label(
            class='form-group__label' 
            for='text1') Textarea
          div(class='form-group__container')
            textarea(
              class='form-group__input form-group__input_type_textarea' 
              type='text' 
              id='text1' 
              name='story') Default text
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      //- form validation error
      div(class='form-group form-group_validation_error form-group_row text')
          label(
            class='form-group__label' 
            for='text1') Textarea
          div(class='form-group__container')
            textarea(
              class='form-group__input form-group__input_type_textarea' 
              type='text' 
              id='text1' 
              name='story') Default text
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle


      //- form validation success
      div(class='form-group form-group_validation_success form-group_row text')
          label(
            class='form-group__label' 
            for='text1') Textarea
          div(class='form-group__container')
            textarea(
              class='form-group__input form-group__input_type_textarea' 
              type='text' 
              id='text1' 
              name='story') Default text
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle



      div(class='form-group form-group_row form-group_disabled')
          label(
            class='form-group__label' 
            for='name9') First name
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name9' 
              name='name' 
              placeholder='Your name'
              disabled)
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle

      div(class='form-group form-group_row')
          label(
            class='form-group__label' 
            for='name') Search
          div(class='form-group__container')
            input(
              class='form-group__input form-group__input_type_search' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Search...')



      //- fieldset
      fieldset(class='fieldset')
        div(class='form-group form-group_row')
          legend(class='form-group__label') First name

          div
            div(class='form-group__container control')
              input(
                class='control__system-control'
                id='f1' 
                type='radio'
                value='1'  
                name='group1')
              label(
                class='control__label control__label_radio' 
                for='f1') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting
              div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text

            div(class='form-group__container control')
              input(
                class='control__system-control'
                id='f2' 
                type='radio'  
                value='2'
                name='group1')
              label(
                class='control__label control__label_radio' 
                for='f2') Milk
              div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting

            div(class='form-group__container control')
              input(
                class='control__system-control'
                id='f3' 
                type='radio' 
                value='3' 
                name='group1')
              label(
                class='control__label control__label_radio'
                for='f3') Milk
              div(class='control__tip text text_line-height_lg text_color_gray-light text_size_sm') Text text text       


      //- validation modifier error
      div(class='form-group form-group_row form-group_validation_error')
          label(
            class='form-group__label' 
            for='name') First name
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle


      //- validation modifier success
      div(class='form-group form-group_row form-group_validation_success')
          label(
            class='form-group__label' 
            for='name') First name
          div(class='form-group__container')
            input(
              class='form-group__input' 
              type='text' 
              id='name' 
              name='name' 
              placeholder='Your name')
            div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle




      //- select component
      div(class='form__row')
        div(class='form__label-wrapper')
          label(for='country') Color
        div(class='form__frame-wrapper')
          select(class='form__frame' id='country' name='country')
            option(value='australia') Red
            option(value='canada') Green
            option(value='usa') Blue



      



  //- nav
  div
    div(class='nav')
      a(href='#main' class='nav__item') Main
      a(href='#main' class='nav__item') Portfolio
      a(href='#about' class='nav__item nav__item_active') About
      a(href='#contacts' class='nav__item') Contacts


  //-
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    
block script
  script.
  //-
    const htmlElements = document.querySelectorAll('.demo__item');
    
    function openInNewWin(arg) {
      arg.forEach(el => {
          el.addEventListener('click', () => {
            const win = window.open('', 'Component Demo');
            win.document.body.innerHTML = el.innerHTML;
          });
      });
    }
    
    window.addEventListener('load', openInNewWin(htmlElements));
    

    
    

