extends template-demo.pug

block meta
  meta(name='description' content='Description of the page less than 150 characters')
  //- Displayed in Google search results:
  meta(name='keywords' content='web development, web applications, frontend')
  meta(name='author' content='Andrey Ponomarev')
  title Static Website Starter Template. BEM Blocks Library
 
block demo
  div(class='demo')
    header(class='header header_theme_presentation ')
      h1(class='heading header__heading heading_size_h1 heading_color_white') Static Website Starter Template
      h2(class='heading header__heading heading_size_h3 heading_color_white') BEM Blocks Library
    
    //a(href='https://github.com/ponomarevandrey', class='link heading__icon' aria-hidden='true', focusable='false', title='Github')
      span(class='icon__accessLabel') Github
      svg(
        class='icon icon__link'): use(xlink:href='./img/icons.svg#github') 
      
    main(class='demo__main')
    
      article(class='')
        h1(class='') Blocks
        hr(class='')
      //-
        ul(class='list text list_style_unordered text_size_root') 
          li(class='list__item') Main root:
            ul(class='list list_style_unordered')
              li(class='list__item') .html (assigned to &lt;html&gt; element)
          li(class='list__item') Content sectioning:
            ul(class='list list_style_unordered')
              li(class='list__item') .article
              li(class='list__item') .main
              li(class='list__item')
                a(href='#heading' class='link') .heading
              li(class='list__item') .section
              li(class='list__item') .mainNav
              li(class='list__item') .headingGroup
          li(class='list__item') Text:
            ul(class='list list_style_unordered')
              li(class='list__item') 
                a(href='#text' class='link') .text
              li(class='list__item') .pre
              li(class='list__item') .list
              li(class='list__item') .blockquote
              li(class='list__item') .horizontalRule
              li(class='list__item') 
                a(href='#link' class='link') .link
              li(class='list__item') .anchorLink
              li(class='list__item') .code
              li(class='list__item') .em
              li(class='list__item') .strong
          li(class='list__item') Image, multimedia, embedded content:
            ul(class='list list_style_unordered')
              li(class='list__item') 
                a(href='#image' class='link') .image
              li(class='list__item') .socialMediaIconLinks
              li(class='list__item') .icons
              li(class='list__item') .object
              li(class='list__item') .picture
              li(class='list__item') .responsiveMediaContent
              li(class='list__item') .imageZoom
              li(class='list__item') .imageSlider
              li(class='list__item') .portfolioGalleryWithFiltering
              li(class='list__item') .logo
          li(class='list__item') Table:
            ul(class='list list_style_unordered')
              li(class='list__item') .table
              li(class='list__item') .responsiveTable
          li(class='list__item') Forms:
            ul(class='list list_style_unordered')
              li(class='list__item') .form
              li(class='list__item') .formValidator     
              li(class='list__item') .label
              li(class='list__item') .selectBox
              li(class='list__item') .progressBar
              li(class='list__item') .fieldText
              li(class='list__item') .checkbox
              li(class='list__item') .radioButton
              li(class='list__item') .fileUpload
              li(class='list__item') .searchBar
          li(class='list__item') Menus
            ul(class='list list_style_unordered')
              li(class='list__item') .hamburgerMenu
              li(class='list__item') .offCanvasMenu
              li(class='list__item') .multilevelMenu
          li(class='list__item') Buttons:
            ul(class='list list_style_unordered')          
              li(class='list__item') .button 
              li(class='list__item') .backToTopButton
              li(class='list__item') .closeButton
              li(class='list__item') .toggleSwitch
              li(class='list__item') .numberSpinner
              li(class='list__item') .rangeSlider
          li(class='list__item') Grid:
            ul(class='list list_style_unordered')
              li(class='list__item') .twelveColumnGrid
              li(class='list__item') .autofillColumnGrid
              li(class='list__item') .pinterestGrid
          li(class='list__item') Misc:
            ul(class='list list_style_unordered')
              li(class='list__item') .message
              li(class='list__item') .productCard
              li(class='list__item') .loader
              li(class='list__item') .pagination
              li(class='list__item') .breadcrumbs
              li(class='list__item') .comments
              li(class='list__item') .modalWindow
              li(class='list__item') .tabs
              li(class='list__item') .scrollBar
              li(class='list__item') .filterElements
              li(class='list__item') .scrollIndicator
              li(class='list__item') .tooltip
              li(class='list__item') .cssArrows
    
      div(class='demo__section') 

        //- Not a block - color palette
        div(class='demo__palette')
          div(class='demo__color-primary') 1
          div(class='demo__color-secondary') 2
          div(class='demo__color-on-error') 3
          div(class='demo__color-on-success') 4
          div(class='demo__color-info-message') 5

        //- heading
        h1(class='heading') Heading
        h1(class='heading heading_size_h1') Heading One
        h1(class='heading heading_size_h2') Heading Two
        h1(class='heading heading_size_h3') Heading Three
        h1(class='heading heading_size_h4') Heading Four
        h1(class='heading heading_size_h5') Heading Five
        h1(class='heading heading_size_h6') Heading Six
          
        //- img-raster
        figure(class='image-raster image-raster_theme_black')
          picture(class='image-raster__wrapper')   
            img(
              class='image-raster__img'
              src="/../img/animals_landscape_xxxl.jpg"

              sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

              srcset="/../img/animals_landscape_sm.jpg 480w, /../img/animals_landscape_md.jpg 768w, /../img/animals_landscape_lg.jpg 992w, /../img/animals_landscape_xl.jpg 1200w, /../img/animals_landscape_xxl.jpg 1800w, /../img/animals_landscape_xxxl.jpg 2000w"
              
              alt='Ships in the Field' 
            )
          figcaption(class='text image-raster__caption').
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        //- hr
        hr(class='hr')

        //- list
        ul(class='list list_style_unordered')
          li(class='list__item') Fruit
            ul(class='list list_style_unordered')
              li(class='list__item') Bananas
              li(class='list__item') Apples
                ul(class='list list_style_ordered')
                  li(class='list__item') Green
                  li(class='list__item') Red
              li(class='list__item') Pears
          li(class='list__item') Vegetables
          li(class='list__item') Meat

        //- text
        //- inline text
        p(class='text text_display_inline') Lorem Ipsum
        //- block text
        p(class='text text_display_block-paragraph text_size_root text_color_black').
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        p(class='text text_display_block-paragraph text_size_root text_color_black'). 
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        //- link
        a(href='##' class='link') link

        //- code
        //- inline code
        p(class='text text_display_block-paragraph text_size_root text_color_black'). 
          It has survived not only five centuries, but also the leap into electronic typesetting, #[a(href='#image' class='link link_anchor') remaining] essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, #[code(class='code code_display_inline code_theme_light code_size_root') console.log( a );] and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        //- code block
        pre(class='code code_display_block code_theme_light code_size_root')
          code.
            window.addEventListener( 'load', => {
              console.log('Ready');
            })

        //- page
        //- just write a short description

        br

        //- btn
        a(class='btn btn_theme_primary' href='###') Click me!
        button(type='button' class='btn') Click me!
        button(type='button' class='btn btn_theme_primary btn_disabled') Click me!

        br
        br

        //- responsive columns grid
        div(class='grid-responsive-col')
          div(class='grid-responsive-col__item') One
          div(class='grid-responsive-col__item') Two
          div(class='grid-responsive-col__item') Three
          div(class='grid-responsive-col__item') Four 
          div(class='grid-responsive-col__item') Five
          div(class='grid-responsive-col__item') Six
          div(class='grid-responsive-col__item') Seven
          div(class='grid-responsive-col__item') Eight
          div(class='grid-responsive-col__item') Nine

        br
        //- grid-items-list 
        ul(class='grid-items-list')

          li(class='grid-items-list__item')
            //- image-raster block
            figure(class='image-raster')
              picture(class='image-raster__wrapper')   
                img(
                  class='image-raster__img'
                  src="/../img/animals_landscape_xxxl.jpg"

                  sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

                  srcset="/../img/animals_landscape_sm.jpg 480w, /../img/animals_landscape_md.jpg 768w, /../img/animals_landscape_lg.jpg 992w, /../img/animals_landscape_xl.jpg 1200w, /../img/animals_landscape_xxl.jpg 1800w, /../img/animals_landscape_xxxl.jpg 2000w"
                  
                  alt='Ships in the Field' 
                )
            h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
            p(class='text text_display_block-paragraph') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
            a(class='btn' href="###") Visit Website

          li(class='grid-items-list__item')
            //- image-raster block
            figure(class='image-raster')
              picture(class='image-raster__wrapper')   
                img(
                  class='image-raster__img'
                  src="/../img/animals_landscape_xxxl.jpg"

                  sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

                  srcset="/../img/animals_landscape_sm.jpg 480w, /../img/animals_landscape_md.jpg 768w, /../img/animals_landscape_lg.jpg 992w, /../img/animals_landscape_xl.jpg 1200w, /../img/animals_landscape_xxl.jpg 1800w, /../img/animals_landscape_xxxl.jpg 2000w"
                  
                  alt='Ships in the Field' 
                )
            h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
            p(class='text text_display_block-paragraph') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
            a(class='btn' href="###") Visit Website

          li(class='grid-items-list__item')
            //- image-raster block
            figure(class='image-raster')
              picture(class='image-raster__wrapper')   
                img(
                  class='image-raster__img'
                  src="/../img/animals_landscape_xxxl.jpg"

                  sizes="(min-width: 1800px) 100vw, (min-width: 1200px) 100vw, (min-width: 992px) 100vw, (min-width: 768px) 100vw, (min-width: 480px) 100vw, (min-width: 0) 100vw, 100vw"

                  srcset="/../img/animals_landscape_sm.jpg 480w, /../img/animals_landscape_md.jpg 768w, /../img/animals_landscape_lg.jpg 992w, /../img/animals_landscape_xl.jpg 1200w, /../img/animals_landscape_xxl.jpg 1800w, /../img/animals_landscape_xxxl.jpg 2000w"
                  
                  alt='Ships in the Field' 
                )
            h1(class='heading heading_size_h3 grid-items-list__heading') Billions upon bil lions upon billions
            p(class='text text_display_block-paragraph') Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
            a(class='btn' href="###") Visit Website

        br

        //- grid-classic 
        section(class='grid-classic')
          div(class='grid-classic__header') Header
          div(class='grid-classic__news1') News. Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
          div(class='grid-classic__news2')
            div hkjh
            div(class='grid-classic__article') Article. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            div(class='grid-classic__info') Info
          div(class='grid-classic__ads-l') Space L
          div(class='grid-classic__ads-r') Space R  
          div(class='grid-classic__footer') Footer

        //- grid-gallery
        ul(class='grid-gallery')
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22942_hires.jpg" alt="Juno's Latest Flyby of Jupiter Captures Two Massive Storms")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23021_hires.jpg" alt="A first look at dunes")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23002_hires.jpg" alt="K2-138 6 Planets Artwork (Artist's Illustration)")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA21212_hires.jpg" alt="Small Prominences")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22983_hires.jpg" alt="Ezinu Crater")

          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22990_hires.jpg" alt="Polar Ice")

          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22963_hires.jpg" alt="Jupiter")

          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22918_hires.jpg" alt="Star Gaia 17pbi Seen by Spitzer")

          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22900_hires.jpg" alt="Another Cloudy Day")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22941_hires.jpg" alt="South Equatorial Belt Brown Barge Close-up")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22936_hires.jpg" alt="Earth-based Observation of Jupiter")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22937_hires.jpg" alt="Jupiter's South Tropical Disturbance")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22933_hires.jpg" alt="Jupiter's Southern Circumpolar Cyclones")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22906_hires.jpg" alt=" Juno Flyby Movie ")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22895_hires.jpg" alt="Swiss Cheese on a Red Planet")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA21211_hires.jpg" alt="Solar Active Region's Cameo Appearance")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22914_hires.jpg" alt="Bow Shock Around Young Star")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22695_hires.jpg" alt="Jupiter's North Equatorial Belt")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22770_hires.jpg" alt="Titan Mosaic: The Surface Under the Haze")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18144_hires.jpg" alt="Reappearing Coronal Hole")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22820_hires.jpg" alt="NASA's ASTER Captures Lava Flow, Ash from Guatemala Volcano")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22869_hires.jpg" alt="Active Dunes in Wirtz Crater")
          li
            figure
              img(src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22569_hires.jpg" alt="Supernova Remnant G54")


        br

        //- grid-12col
        section(class='grid-12col')
          div(class='grid-12col__one')
            One One One One One One One One One One One One One One One
          div(class='grid-12col__two') Two 
          div(class='grid-12col__three') Three 
          div(class='grid-12col__four') Four 
          div(class='grid-12col__five') Five Five Five Five Five

        //- img-svg
        img(
          src='./../img/logo.svg' 
          alt='Logoipsum logo'
          title='Logoipsum'
          class='img-svg'
        )

        div(class='img-svg img-svg_bg')

        //- if you need interactivity, use SVG with the help of <object> tag
        object(
          type="image/svg+xml" 
          data="./../../img/logo.svg"
          class='img-svg'
        ) Your browser does not support SVG

        //- header
        include ../components/header/header.pug 

        //- blockquote
        p(class='text text_display_block-paragraph text_size_root text_color_black'). 
          It has survived not only five centuries,
        blockquote(class='blockquote')
          p(class='blockquote__main'). 
            Big type, even huge type, can be beautiful and useful. But poise is usually far more important than size – and poise consists primarily of emptiness. Typographically, poise is made of white&space.
          footer(class='blockquote__footer'). 
            Robert Bringhurst

        //- back-to-top-btn
        button(
          class='back-to-top-btn'
          title='Go to top'
        ) Top

        br

        //- label 
        div
          a(href='###' class='label') html5
          a(href='###' class='label') javascript
          a(href='###' class='label') css3
          a(href='###' class='label') sass

        br
        br 

        //- pagination
        div(class='pagination')
          a(href='#wq##' class='pagination__item') &laquo;
          a(href='##fd#' class='pagination__item') 1
          a(href='##s#' class='pagination__item pagination__item_active') 2
          a(href='###' class='pagination__item') 3
          a(href='#da##' class='pagination__item') 4
          a(href='#fd##' class='pagination__item') &raquo;

        br

        //- breadcrumbs
        ul(class='breadcrumbs')
          li(class='breadcrumbs__item')
            a(href='###' class='breadcrumbs__link') Home
          li(class='breadcrumbs__item')
            a(href='#s##' class='breadcrumbs__link') Equipment
          li(class='breadcrumbs__item')
            a(href='###f' class='breadcrumbs__link') Cooking Equipment
          li(class='breadcrumbs__item').
            Cooking Performance Group S60-G24-N Natural Gas 6 Burner 60" Range with 24" Griddle and 2 Standard Ovens - 280,000 BTU

        br

        //- icons
        include ../components/icons/icons.pug 

        br
        br

        //- tooltip
        p(class='text text_color_black text_display_inline text_size_root') ... some text, 
          span(class='tooltip') hoverthepointer
            span(class='tooltip__content') Your text

        span(class='tooltip' style='display: inline-block; width: 50px; height: 50px; background-color: black; border-radius: 10000px;')
          span(class='tooltip__content') Your text

        br
        br

        //- media-content
        div(class="media-content media-content_ratio_4x3") 
          iframe(
            src='https://www.youtube.com/embed/oRkNaF0QvnI' 
            frameborder='0' 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          )

        br
    
        //- table
        div(class='table text text_color_black text_size_root')
          table(class='table__container')
            caption(class='table__caption') Table 1.1 Playlist
            tr(class='table__row')
              th(class='table__cell table__cell_type_header') Date
              th(class='table__cell table__cell_type_header') Artist
              th(class='table__cell table__cell_type_header') Title
              th(class='table__cell table__cell_type_header') Album
              th(class='table__cell table__cell_type_header') Label
              th(class='table__cell table__cell_type_header') Genres
              th(class='table__cell table__cell_type_header') Duration
            tr(class='table__row')
              td(class='table__cell table__cell_type_main') 1971
              td(class='table__cell table__cell_type_main') Gil Scott-Heron
              td(class='table__cell table__cell_type_main') Save The Children
              td(class='table__cell table__cell_type_main') Pieces Of A Man
              td(class='table__cell table__cell_type_main') Flying Dutchman
              td(class='table__cell table__cell_type_main') Soul, Funk, Jazz
              td(class='table__cell table__cell_type_main') 4:55
            tr(class='table__row')
              td(class='table__cell table__cell_type_main') 1975
              td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
              td(class='table__cell table__cell_type_main') Sweet Thing
              td(class='table__cell table__cell_type_main') Rufus Featuring Chaka Khan
              td(class='table__cell table__cell_type_main') ABC Records
              td(class='table__cell table__cell_type_main') Soul, Funk, Disco
              td(class='table__cell table__cell_type_main') 3:18
            tr(class='table__row')
              td(class='table__cell table__cell_type_main') 1994
              td(class='table__cell table__cell_type_main') Adam F ‎
              td(class='table__cell table__cell_type_main') Sea Of Destiny
              td(class='table__cell table__cell_type_main') Stronger Than Ever
              td(class='table__cell table__cell_type_main') Lucky Spin Recordings
              td(class='table__cell table__cell_type_main') Jungle, Drum'n'Bass
              td(class='table__cell table__cell_type_main') 6:47
            tr(class='table__row')
              td(class='table__cell table__cell_type_main') 2000
              td(class='table__cell table__cell_type_main') Soulsearcher ‎
              td(class='table__cell table__cell_type_main') Can't Get Enough (Vocal Club Mix)
              td(class='table__cell table__cell_type_main') Various ‎- Disco Kandi
              td(class='table__cell table__cell_type_main') Hed Kandi 
              td(class='table__cell table__cell_type_main') Garage House, Disco
              td(class='table__cell table__cell_type_main') 7:19

        //- loader
        div(class='loader')

        br

        //- toggle-switch
        label(class='toggle-switch')
          input(class='toggle-switch__system-checkbox' type='checkbox')
          span(class='toggle-switch__container')

        br
        br

        //- checkbox
        //- enabled:
        label(class='checkbox') 
          span(class='text') Milk
          input(class='checkbox__system-checkbox' type='checkbox' checked='checked')
          span(class='checkbox__custom-checkbox')
        br
        label(class='checkbox') 
          span(class='text') It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          input(class='checkbox__system-checkbox' type='checkbox' checked='checked')
          span(class='checkbox__custom-checkbox')
        //- error:
        label(class='checkbox checkbox_error') 
          span(class='text') Milk
          input(class='checkbox__system-checkbox' type='checkbox' checked='checked')
          span(class='checkbox__custom-checkbox')
        //- disabled:
        label(class='checkbox checkbox_disabled') 
          span(class='text') Milk
          input(class='checkbox__system-checkbox' type='checkbox' disabled)
          span(class='checkbox__custom-checkbox')


        //- radio-btn
        //- enabled:
        label(class='radio-btn') 
          span(class='text') Milk
          input(class='radio-btn__system-radio-btn' type='radio' name='radio' checked='checked')
          span(class='radio-btn__custom-radio-btn')
        br
        label(class='radio-btn') 
          span(class='text') It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          input(class='radio-btn__system-radio-btn' type='radio' name='radio')
          span(class='radio-btn__custom-radio-btn')
        //- error:
        label(class='radio-btn radio-btn_error') 
          span(class='text') Milk
          input(class='radio-btn__system-radio-btn' type='radio' name='radio')
          span(class='radio-btn__custom-radio-btn')
        //- disabled:
        label(class='radio-btn radio-btn_disabled') 
          span(class='text') Milk
          input(class='radio-btn__system-radio-btn' type='radio' name='radio' disabled)
          span(class='radio-btn__custom-radio-btn')



        //- comment section
        div(class='comment')
          div(class='comment__avatar') 
            <svg xmlns="http://www.w3.org/2000/svg" width='100%' height='100%' viewBox="0 0 258.75 258.75">
              <circle cx="129.375" cy="60" r="60"/>
              <path d="M129.375 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z"/>
            </svg>
          div(class='comment__text text') 
            div(class='comment__header')
              span(class='comment__name') Mike Wolfson
              span(class='comment__time') august 19, 2019 17:48
            p(class='comment__main').
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            div(class='comment__button')
              a(href='###' class='link') Reply


        div(class='comment')
          div(class='comment__avatar') 
            <svg xmlns="http://www.w3.org/2000/svg" width='100%' height='100%' viewBox="0 0 258.75 258.75">
              <circle cx="129.375" cy="60" r="60"/>
              <path d="M129.375 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z"/>
            </svg>
          div(class='comment__text text') 
            div(class='comment__header')
              span(class='comment__name') Mike Wolfson
              span(class='comment__time') august 19, 2019 17:48
            p(class='comment__main').
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            div(class='comment__button')
              a(href='###' class='link') Reply

        br
        br

        //- form
        //- example 1:
        form(class='form' action='' method='')

          div(class='form__row')
            div(class='form__label-wrapper')
              label(for='name') Name
            div(class='form__frame-wrapper')
              input(class='form__frame' type='text' id='name' name='name' placeholder='Your name')
              div(class='form__help-text') Help text

        //- example 2:
        form(class='form text' action='' method='')
          div(class='form__row form__row_view_stack')
            div(class='form__label-wrapper')
              label(for='name') Name
            div(class='form__frame-wrapper')
              input(class='form__frame' type='text' id='name' name='name' placeholder='Your name')
              div(class='form__help-text') Help text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

          div(class='form__row')
            div(class='form__label-wrapper')
              label(for='name') Name
            div(class='form__frame-wrapper form__frame-wrapper_disabled')
              input(class='form__frame' type='text' id='name' name='name' placeholder='Your name' disabled)
              div(class='form__help-text') Help text

          div(class='form__row')
            div(class='form__label-wrapper')
              label(for='name') Name
            div(class='form__frame-wrapper form__frame-wrapper_error')
              input(class='form__frame' type='text' id='name' name='name' placeholder='Your name')
              div(class='form__help-text') Error description
          
          div(class='form__row')
            div(class='form__label-wrapper')
              label(for='country') Color
            div(class='form__frame-wrapper')
              select(class='form__frame' id='country' name='country')
                option(value='australia') Red
                option(value='canada') Green
                option(value='usa') Blue

          div(class='form__row')
            div(class='form__label-wrapper')
              label(for='subject') Subject
            div(class='form__frame-wrapper')
              textarea(class='form__frame' id='subject' name='subject' placeholder='Default text' style='height:200px')

          
          div(class='form__row')
            div(class='form__frame-wrapper') 
              //- search-form
              input(class='form__frame form__frame_type_search' id='search' type='text' name='search' placeholder='Search...')

          div(class='form__row')
            input(class='btn' type='submit' value='Submit')       

        //- nav
        div(class='nav')
          a(href='#main' class='nav__item') Main
          a(href='#main' class='nav__item') Portfolio
          a(href='#about' class='nav__item nav__item_active') About
          a(href='#contacts' class='nav__item') Contacts
