mixin btn(btn, classList='btn btn_theme_black btn_size_md')

  //- <a> button
  - if (btn.tag === 'a' && btn.state === 'enabled')
    a(class=`${classList}` href=`${url}`) #{btn.text}

  - if (btn.tag === 'a' && btn.state === 'disabled')
    a(class=`${classList} btn_disabled` href=`${url}`) #{btn.text}


  //- <button> button
  - if (btn.tag === 'button' && btn.state === 'enabled')
    button(tag='button' class=`${classList}`) #{btn.text}

  - if (btn.tag === 'button' && btn.state === 'disabled')
    button(tag='button' class=`${classList}` disabled) #{btn.text}


  //- <input> button
  - if (btn.tag === 'input' && btn.state === 'enabled')
    input(tag='button' value=`${btn.text}` class=`${classList}`) 

  - if (btn.tag === 'input' && btn.state === 'disabled')
    input(tag='input' value=`${btn.text}` class=`${classList}` disabled)