mixin img-svg(tag, url, alt, title, classList)
  - if (tag === 'img')
    #{tag}(
      src=`${url}` 
      alt=`${alt}`
      title=`${title}`
      class=`img-svg ${classList}`
    )

  - if (tag === 'div')
    #{tag}(class=`img-svg img-svg_bg ${classList}`)

  - if (tag === 'object')
    object(
      type="image/svg+xml" 
      data=`${url}`
      class=`img-svg ${classList}`
    ) Your browser does not support SVG