//- play arpund with number values, delete redundant srcset alternatives or 
//- even <source> tag (if you don't need to solve art direction proble, etc.
//- this is just a template!

- var img_url_sm = "./../img/animals_landscape_480.jpg";
- var img_url_md = "./../img/animals_landscape_768.jpg";
- var img_url_lg = "./../img/animals_landscape_992.jpg";
- var img_url_xl = "./../img/animals_landscape_1200.jpg";
- var img_url_xxl = "./../img/animals_landscape_1800.jpg";
- var img_url_xxxl = "./../img/animals_landscape_2000.jpg 2000w";

figure(class='image')
  
  picture   
    //- add more <source> tags if you need to provide alternative 
    //- image types (WEBP for example)  
    //-
    //- traditionally handles art direction problem:
    source(
      type="image/jpg" 
      media="(min-width: 1280px)" 
      sizes="min-width: 0) calc(100vw - 40px), (min-width: 480px) 80vw, (min-width: 768px) 80vw, (min-width: 992px) 100vw, (min-width: 1200px) 100vw, (min-width: 1800px) 100vw, 100vw" 
      srcset="./../img/animals_landscape_480.jpg 480w, ./../img/animals_landscape_768.jpg 768w, ./../img/animals_landscape_992.jpg 992w, ./../img/animals_landscape_1200.jpg 1200w, ./../img/animals_landscape_1800.jpg 1800w, ./../img/animals_landscape_2000.jpg 2000w")
    
    //- traditionally handles resolution switching problem:
    img(
      src='./../img/animals_landscape_992.jpg' 
      alt="what is on the image" 
      title='The value of the title attribute is usually presented to the user as a tooltip, which appears shortly after the cursor stops moving over the image' 
      sizes="(min-width: 0) 92vw, (min-width: 480px) 92vw, (min-width: 768px) 92vw, (min-width: 992px) 92vw, (min-width: 1200px) 92vw, (min-width: 1800px) 92vw, 92vw" 
      srcset='./../img/animals_portrait_480.jpg 480w, ./../img/animals_portrait_768.jpg 768w, ./../img/animals_portrait_992.jpg 992w, ./../img/animals_portrait_1200.jpg 1200w, ./../img/animals_portrait_1800.jpg 1800w, ./../img/animals_portrait_2000.jpg 2000w')
  
  figcaption(class='text text_color_black text_size_root').
    Image description or any other text related to this image. Don't dublicate here 'alt' text!